aiohappyeyeballs @ file:///home/conda/feedstock_root/build_artifacts/aiohappyeyeballs_1741775197943/work
aiohttp @ file:///croot/aiohttp_1734687138658/work
aiosignal @ file:///home/conda/feedstock_root/build_artifacts/aiosignal_1734342155601/work
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1741822778903/work
boto3==1.37.11
botocore==1.37.11
Bottleneck @ file:///croot/bottleneck_1731058641041/work
Brotli @ file:///croot/brotli-split_1736182456865/work
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1739515848642/work/certifi
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1735929714516/work
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1733218098505/work
datasets @ file:///home/conda/feedstock_root/build_artifacts/datasets_1740153410988/work
dill @ file:///home/conda/feedstock_root/build_artifacts/dill_1706434688412/work
filelock @ file:///home/conda/feedstock_root/build_artifacts/filelock_1737517818712/work
frozenlist @ file:///croot/frozenlist_1730902802621/work
fsspec @ file:///home/conda/feedstock_root/build_artifacts/fsspec_1734650190311/work
huggingface_hub @ file:///home/conda/feedstock_root/build_artifacts/huggingface_hub_1741710986684/work
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1733211830134/work
jmespath==1.0.1
mkl-service==2.4.0
mkl_fft @ file:///io/mkl313/mkl_fft_1730824109137/work
mkl_random @ file:///io/mkl313/mkl_random_1730823916628/work
multidict @ file:///croot/multidict_1730905498140/work
multiprocess @ file:///work/perseverance-python-buildout/croot/multiprocess_1728399968965/work
numexpr @ file:///io/perseverance-python-buildout/croot/numexpr_1731701292781/work
numpy @ file:///croot/numpy_and_numpy_base_1738078506782/work/dist/numpy-2.2.2-cp313-cp313-linux_x86_64.whl#sha256=7931599a0694936575a9e0bac58d750d6e5e8072bde698fbc948ce3073802feb
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1733203243479/work
pandas @ file:///croot/pandas_1732735089971/work/dist/pandas-2.2.3-cp313-cp313-linux_x86_64.whl#sha256=248baa16b8f7b48e3a9c0e641fba9a72bce9c95c0dddf7c9a7547016b61fe3fb
propcache @ file:///croot/propcache_1732303986938/work
pyarrow @ file:///croot/pyarrow_1738229418212/work/python
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1733217236728/work
python-dateutil @ file:///work/perseverance-python-buildout/croot/python-dateutil_1728385355105/work
pytz @ file:///work/perseverance-python-buildout/croot/pytz_1728386814080/work
PyYAML @ file:///croot/pyyaml_1731006091482/work
regex @ file:///croot/regex_1736540786412/work
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1733217035951/work
s3transfer==0.11.4
safetensors @ file:///croot/safetensors_1741361308036/work
setuptools==72.1.0
six @ file:///tmp/build/80754af9/six_1644875935023/work
tokenizers @ file:///croot/tokenizers_1741370336077/work
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1735661334605/work
transformers @ file:///home/conda/feedstock_root/build_artifacts/transformers_1739826231190/work
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1733188668063/work
tzdata @ file:///croot/python-tzdata_1690578112552/work
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1708239446578/work
wheel==0.45.1
xxhash @ file:///croot/python-xxhash_1737039434400/work
yarl @ file:///croot/yarl_1732546845924/work
